<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }
        p{
            color: brown;
        }
    </style>
</head>
<body>
    <p>
        my name is zienab <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa laborum incidunt aut. Rem animi vel saepe repudiandae eius. Voluptatum iure placeat dolores sint cum tempora quis ducimus consequatur esse.
    </p>
</body>
</html>